* {
  box-sizing: border-box;
}

body {
  background-image: url(test.png);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  height: 100vh
}
